        <script src="./vendors/popper.min.js"></script>
        <script src="./vendors/jquery.min.js"></script>
        <script src="./vendors/bootstrap.min.js"></script>
        <script src="./vendors/font-awesome.js"></script>
        <script src="vendors/jquery-ui.min.js"></script>

        <script src="./js/main.js" type="module"></script>
        <script src="./js/home.js" type="module"></script>
        <script src="./js/header.js" type="module"></script>
        <script src="./js/login.js" type="module"></script>
        <script src="./js/register.js" type="module"></script>
        <script src="./js/gestion-worker.js" type="module"></script>
        <script src="./js/insert-client.js" type="module"></script>
        <script src="./js/dashboard-client.js" type="module"></script>
        <script src="./js/dashboard-worker.js" type="module"></script>
    </body>
    
</html>
