<div id="view-gestion-worker" class="container-fluid view">
    <div class="row">
        <div class="container col-5">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center text-dark">Introduce a quote</h4>
                    <hr />
                    <div class="alert alert-danger notification" role="alert" id="error-gestion-worker"></div>
                    <div class="alert alert-success notification" role="alert" id="success-gestion-worker"></div>
                    <form id="introduce-quote-form">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="client-list">Select a client*</label>
                                <select class="custom-select" id="client-list">  
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="clientList">Client not created yet?</label>
                                <button id="btn-show-insert-client" type="button" class="btn btn-secondary">Create new client</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="client-list">Select a user to link:</label>
                                <select class="custom-select" id="user-to-link-list">
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <button type="button" class="btn btn-default border dropdown-toggle" data-toggle="dropdown">
                                    <span>Project Types<span class="caret"></span></span>
                                </button>
                                <ul class="dropdown-menu" id="menu-types-gestion">

                                </ul>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="quote-amount">Full amount*</label>
                                <input type="number" placeholder="0 €" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="quote-amount" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="quote-date">Date of quote*</label>
                                <input class="form-control" type="date" value="" id="quote-date" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="duration">Work length</label>
                                <input class="form-control" type="text" value="" id="duration" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="picturesBeforeAmenagement">Select pictures</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="picturesBeforeAmenagement" accept="image/*" multiple />
                                    <label class="custom-file-label" for="picturesBeforeAmenagement">Choose images</label>
                                </div>
                            </div>
                            <div class="container" id="pictures-previews"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <button type="button" class="btn btn-success btn-block" id="btn-insert-quote">
                                    Introduce
                                </button>
                            </div>
                        </div>
                    </form>
                </article>
            </div>
        </div>
        <div class="container col-7">
            <form id="form-confirm-user">
                <table class="table border">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Worker</th>
                            <th scope="col">Linked Client</th>
                            <th scope="col">Confirm</th>
                        </tr>
                    </thead>
                    <tbody id="table-body-unconfirmed-users">
                        
                    </tbody>
                </table>
            </form>
        </div>
        <div class="container col-5">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center text-dark">Introduce a new type</h4>
                    <hr />
                    <div class="alert alert-danger notification" role="alert" id="error-insert-type"></div>
                    <div class="alert alert-success notification" role="alert" id="success-insert-type"></div>
                    <form id="introduce-new-type">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="type-name">Type name</label>
                                <input class="form-control" type="text" value="" id="type-name" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-success" id="btn-insert-type">
                                    Introduce
                                </button>
                            </div>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>
