<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="vendors/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />
		<link rel="icon" type="image/png" href="pictures/favicon.png">
        <title>La Rose Et Le Lilas</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark pr-1">
            <button id="btn-home" type="button" class="btn btn-secandary navbar-brand">La Rose Et Le Lilas</button>
            <ul class="nav justify-content-end">

                <li class="nav-item online-worker btn-hidden">
                    <button id="btn-gestion-worker" type="button" class="btn btn-light mx-1">Worker Gestion</button>
                </li>

                <li class="nav-item online-worker btn-hidden">
                    <button id="btn-dashboard-worker" type="button" class="btn btn-light mx-1">Worker Dashboard</button>
                </li>
                <li class="nav-item online-client btn-hidden">
                    <button id="btn-dashboard-client" type="button" class="btn btn-light mx-1">Client Dashboard</button>
                </li>
                <li class="nav-item offline btn-hidden">
                    <button id="btn-login" type="button" class="btn btn-light mx-1">Login</button>
                </li>
                <li class="nav-item offline btn-hidden" >
                    <button id="btn-register" type="button" class="btn btn-light mx-1">Register</button>
                </li>
                <li class="nav-item online btn-hidden" >
                    <button id="btn-logout" type="button" class="btn btn-danger mx-1">Logout</button>
                </li>
            </ul>
        </nav>

