<div id="view-home" class="view">
    <div class="container text-center">
        <p id="registerMsg" class="successMsg"></p>
    </div>
    <div class="dropdown">
        <button class="ml-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Project Types
        </button>
        <div id="types-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        </div>
    </div>
    <div id="no-pictures-message"
         class=" container col-sm-1 col-md-7 alert alert-warning text-center notification"
         role="alert"></div>
    <div id="carousel" class="carousel slide container  col-sm-9 col-md-7"
         data-ride="carousel">
    </div>
</div>
